.card-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 100px;
    
    /* padding-right: 50px; */
}

.main-card-container{
    /* margin: 50px; */
    /* gap: 45px; */
}

@media screen and (max-width:576px) {
   
    .card-container{
      display: grid;
      grid-template-columns:repeat(1,1fr) ;
      padding: 0;
    }
    /* .main-card-container{
        width: 375px;
        height: 90px;
    } */
  }

  